.authorCard {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
  }
  
  .authorInfo {
    margin: 0 10px; 
    text-align: center;
    flex-grow: 1; 
  }

  .authorInfo {
    padding: 10px; 
  }
  
  .authorInfo .likes {
    padding-top: 10px; 
  }
  
  .authorInfo h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .authorInfo p {
    margin: 0;
    color: #666;
  }
  
  .authorInfo p.likes {
    font-weight: bold;
    color: #4285f4;
  }
  
  .authorImages {
    text-align: center;
    flex-grow: 2;
  }
  
  .authorImages h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .authorImages ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
  }
  
  .authorImages li {
    margin: 0 5px; 
  }
  
  .authorImages img {
    width: 100%;
    max-width: 150px; 
    height: 150px; 
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }

  .motto {
    font-style: italic;
  }
  
  .likes {
    font-weight: bold; 
  }

  .backButton {
    margin-top: 10px;
    padding: 8px 12px;
    font-size: 14px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 1rem;
    width: 90px; /* Nově přidaná šířka v pixelech */
    line-height: 1;
  }
  
  .backButton:hover {
    background-color: #0056b3;
  }