.previous {
    height: 2em;
    width: 5em;
    margin: 2em;
}

.next {
    height: 2em;
    width: 5em;
    margin: 2em;
}

.body {
    background-color: #4AAFD5;
}

.title {
    color: white;
    font-size: x-large;
}